/* =============
    Section 4 
============= */
#section-4{
    display: grid;

    ul{
        grid-area: section-4;
        display: grid;
        gap:20px;
    }


    img{
        width: 100%;
    }
}